:root {
  --color__black: 0, 0, 0;
  --color__white: 255, 255, 255;
  --color__background: 17, 17, 17;
  --color__background--light: 26, 26, 26;
  --color__primary: 0, 229, 255;
  --color__accent: 0, 229, 255;
  --color__text: 255, 255, 255;
  --color__error: 255, 55, 102;
}
