@use 'sass:color';
@use 'sass:math';

// Colours
$color__black: var(--color__black);
$color__white: var(--color__white);
$color__background: var(--color__background);
$color__background--light: var(--color__background--light);
$color__primary: var(--color__primary);
$color__accent: var(--color__accent);
$color__text: var(--color__text);
$color__text--title: rgba(var(--color__text), 1);
$color__text--body: rgba(var(--color__text), 0.8);
$color__text--light: rgba(var(--color__text), 0.6);
$color__error: var(--color__error);

// Transitions
$transition__normal: cubic-bezier(0.4, 0, 0.2, 1);

$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;

// Font Properties
@function pxToRem($target, $context: 16px) {
  @return math.div($target, $context) * 1rem;
}

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH0: pxToRem(140px);
$fontSizeH1: pxToRem(100px);
$fontSizeH2: pxToRem(58px);
$fontSizeH3: pxToRem(38px);
$fontSizeH4: pxToRem(28px);
$fontSizeH5: pxToRem(24px);
$fontSizeBodyXL: pxToRem(22px);
$fontSizeBodyL: pxToRem(20px);
$fontSizeBodyM: pxToRem(18px);
$fontSizeBodyS: pxToRem(16px);
$fontSizeBodyXS: pxToRem(14px);
$lineHeightTitle: 1.1;
$lineHeightBody: 1.6;

// Font Stack
$systemFontStack: 'system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif';
$fontStack: 'Gotham', #{$systemFontStack};
$monoFontStack: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace';
$japaneseFontStack: 'ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Sans, Osaka, メイリオ, Meiryo, Segoe UI, sans-serif';

// Breakpoints
$breakpoint--xs: 400px;
$breakpoint--sm: 696px;
$breakpoint--md: 1040px;
$breakpoint--lg: 1680px;
$breakpoint--xl: 2080px;

// Media
$mediaUseMotion: 'prefers-reduced-motion: no-preference';
$mediaReduceMotion: 'prefers-reduced-motion: reduce';
$mediaTouch: 'pointer: coarse';
$mediaNoTouch: 'pointer: fine';

// Space
$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;

// Z Index
$zIndex0: 0;
$zIndex1: 4;
$zIndex2: 8;
$zIndex3: 16;
$zIndex4: 32;
$zIndex5: 64;
